/* ------ Respondship ----- */
@media screen and (max-width: 1450px) {
	/* Landing Page */
	/*  Header LP */
	/* Lp Content*/
	#card-lp{
		font-size: 16px !important;
		padding: 40px 40px !important;
	}
	/* Header Homepage */
	#header{
		padding:50px 0 !important;
	}
	#header-text{
		padding: 20px 20px 0 20px !important;
	}
	#header .tab-content h1{
		margin-top: 40px !important;
	}
	/* Category Hompage */
	.content-category .card{
		max-height: 400px !important;
		min-height: 400px !important;
	}
	/* Banner Video */
	#banner-video .card{
		margin-top:20% !important;
	}
}
@media screen and (max-width: 1200px) {	
	/* Landing Page */
	/*  Header LP */
	#header-lp .card-box{
		padding-top: 0 !important;
	}
	/* End Of Landing Page */
	/* Header Homepage */
	#header{
		padding:30px 0 !important;
	}
	#header-text{
		padding: 10px 10px 0 10px !important;
	}
	#header .tab-content h1{
		margin-top: 20px !important;
	}
	#header .tab-content h1, #header .tab-content p{
		color:#ffffff;
	}
	/* End Of Header Homepage */
	/* Navigasi Category */
	.content-category .card{
		max-height: 350px !important;
		min-height: 350px !important;
	}
	.nav-category .btn-icon{
		width: 55px;
		height: 35px;
		font-size: 20px;
		border: none;
		background: none;
	}
	.nav-category .active .btn-icon{
		width: 55px;
		height: 35px;
		border: none;
	}
	/* End Of Navigasi Category */
	/* Testimoni */
	#content-testimonial{
		min-height: 400px !important;
		padding:15px;
	}
	/* Clients Homepage */
	/* Clients Homepage */
	#clients{
		padding: 10px !important;
	}
	/* End Of Clients Homepage */
	/* Product Page */
	/* Header Product */
	.header-product-box{
		width: 70% !important;
		bottom: 10% !important;
		right: 7% !important;
	}
	/* End Of Product Page */
	/* Banner Video */
	#banner-video .card{
		margin-top:15% !important;
	}
	/* Slider Card */
	#slider-card .card{
		margin-top:10% !important;
	}
}
@media screen and (max-width: 1000px) {
	/* Landing Page */
	/* Navigasi LP */
	.nav-transparent{
		z-index: 10;
		width: 100%;
		color: #000000;
		margin-bottom: 10px !important;
	}
	.nav-transparent button{
		margin-bottom: 15px;
	}
	.nav-transparent.line-border{
		display: none !important;
	}
	.nav-transparent a.active{
		border-bottom: solid 0 !important;
	}
	.navbar-mobile{
		padding-top:15px !important;
	}
	#navbarText{
		padding-bottom: 20px;
	}
	span.navbar-text{
		display: none !important;
	}
	.navbar-mobile{
		margin-top: -20px;
		display: block !important;
	}
	.navbar-mobile i.v-divider{
		position: inherit !important;
		display: none !important;
	}
	.navbar-mobile a{
		padding:10px 5px;
		float: left !important;
		display: block !important;
		text-decoration: none;
	}
	a.nav-link{
		border-bottom: solid 1px #383838;
	}
	a.nav-link.active{
		border-bottom: solid 1px #383838!important;
	}
	a.nav-link:hover{
	}
	/* Header LP  */
	#header-lp{
		margin:10px 0;
	}
	#header-lp .card-box{
		text-align: center;
		padding-top: none !important;
	}
	/* Body LP */
	#body-lp{
		margin:20px 0 !important;
	}
	/* End Of Landing Page */
	/* Homepage */
	/* Top Navigasi */
	.owl-dots{margin-top: 20px !important;}
	#nav-desktop{
		display: none !important;
	}
	/* Mobile Navigasi */
	#nav-mobile{
		display: block !important;
	}
	#dropdown-language .nav-link{border:none !important;}
	#dropdown-language .dropdown-toggle{color:red;}
	#dropdown-language .dropdown-toggle span{color:#ffffff;}
	#dropdown-language .dropdown-menu{
		margin:-10px 0 0 -10px !important;
		padding: 0;
		background:none; 
		animation: fadeInDown 0.3s ease-in;
	}
	#navbarTogglerMobile{
		width: 100%;
		background: #000000;
		position: absolute;
		top:70px;
		left: 0;
		padding: 30px 10px 10px 10px;
	}
	#TabMobile .nav-link{
		font-size: 18px !important;
		border:none !important;
		margin: 0 10px;
	}
	#TabMobile .nav-link.active{
		font-weight: 600 !important;
		border-bottom: solid 3px #da0000 !important;
	}
	#TabMobile .h-divider{
		width: 100%;
		height: 1px;
		margin-top: -2px;
		background: #ffffff;
		opacity: 0.5;
	}
	#sub-nav-tab{
		border-bottom: solid 1px #da0000;
	}
	#sub-nav-tab a.primary-link{
		font-size: 18px;
		font-weight: 600;
	}
	#sub-nav-tab .input-group{
		margin: 20px 0;
	}
	/* Nav Spicy */
	#nav-spicy a.nav-link{
		border: none!important;
	}
	#nav-spicy a.active{
		border-bottom: solid 3px #da0000 !important;
	}
	#nav-spicy .nav-item:hover{
		border-bottom: solid 3px #da0000 !important;
	}
	/* Header Homepage */
	#header{
		padding:15px 0 !important;
	}
	#header-text{
		padding: 0 !important;
	}
	#header-text h1, #header-text p{
		text-align: center !important;
	}
	#header .tab-content h1{
		margin-top: 0 !important;
	}
	/* Navigasi Category */
	.nav-category .btn-icon{
		width: 20px;
		height: 20px;
		font-size: 20px;
	}
	.nav-category label{
		width: 100px !important;
		float: none;
	}
	.nav-category .active .btn-icon{
		width: 50px;
		height: 50px;
		border: none;
	}
	.nav-category .active{
		border:solid 1px #ec0505 !important;
		font-weight: 600;
		margin-bottom: -1px;
		background: none !important;
		-webkit-border-radius: 0 !important;
		border-radius: 25px 25px 0 0!important;
	}
	.nav-category a.nav-link,.nav-category a.active{
		border: none !important;
	}
	.line-border{
		display: none;
	}
	/* End Of Navigasi Category */
	/* Testimoni */
	#content-testimonial{
		min-height: 420px !important;
		padding:15px;
	}
	.owl-nav{
		display: none;
	}
	/* Clients Homepage */
	#clients{
		padding: 10px !important;
	}
	/* End Of Clients Homepage */
	/* News Page */
	#news-page .card-img-overlay .card-title{
		font-size: 23px !important;
	}
	#news-page .card-box .card-title{
		font-size: 14px !important;
	}
	/* End News Page */
	/* Banner Video */
	#banner-video{
		padding:40px 0 !important;
	}
	#banner-video .card, #banner-video .card-box{
		margin-top:10px !important;
	}
	#banner-video .card-title{
		font-size: 24px !important;
	}
	#banner-video .card-text{
		font-size: 14px !important;
	}
	/* End OF Banner Video */
	/* Slider Card */
	#slider-card{
		padding:40px 0 !important;
	}
	#slider-card .main-content{
		margin:0px  !important;
	}
	#slider-card .card-title{
		font-size: 30px !important;
	}
	#slider-card .card-text{
		font-size: 16px !important;
	}
	#slider-card .card{
		margin-top:10px !important;
	}
	#slider-card img{
		margin-top:30px !important;
	}
	.owl-prev, .owl-next{
		display: none !important;
	}
	/* End Of Slider Card */
	/* Form Contact Us */
	#contact-us{
		padding:10px !important;
	}
	#page-number{
		display: none !important;
	}
	.form-group label{
		text-align: left !important;
	}
	.input-group-prepend{
		display: none !important;
	}
	/* End Of Form Contact Us */
	/* Product Page */
	/* Header Product */
	#header-product .card .card-title{
		font-size: 35px !important;
	}
	#header-product .card .card-text{
		font-size: 14px !important;
	}
	/*  End Of Product Page */
}
@media screen and (max-width: 800px) {
	/* Landing Page */
	/*  Header LP */
	/* Lp Content*/
	.card{
		width: 100% !important;
		max-width: 100%;
	}
	#card-lp{
		font-size: 16px !important;
		padding: 5px !important;
	}
	/* Foooter Landing Page */
	#footer-lp .btn-contact{
		padding-right:10px !important;
	}
	#footer-lp .icon-group{
		padding-left:10px !important;
	}
	.footer-lp-left{
		width: 100% !important;
		margin-bottom: 10px;
		text-align: center !important;
	}
	.footer-lp-right{
		width: 100% !important;
		text-align: center !important;
	}
	/* End Of Foooter Landing Page */
	/* Header Homepage */
	#header{
		padding-top: 50px !important;
	}
	#header .header-text{
		text-align: center!important;
		margin-top: 30px;
	}
	#header .tab-content h1, #header .tab-content p{
		text-align: center !important;
	}
	/* Banner Homepage */
	#banner{
		padding: 50px 0 !important;
	}
	.title-banner{
		font-size: 24pt  !important;
	}
	/* End Of Sub Banner Homepage */
	/* Testimoni */
	#content-testimonial{
		min-height: 420px !important;
		padding:15px;
	}
	/* End Of Sub Testimoni Homepage */
	/* header Product */
	.header-product-box{
		width: 90% !important;
		bottom: 30px !important;
		right: 0 !important;
	}
	/* End Of header Product */
}
@media screen and (max-width: 768px) {
	/* Landing Page */
	/* Header LP */

	/* Lp Content*/
	#card-lp{
		font-size: 18px !important;
		padding: 30px 20px !important;
	}
	.carousel-text{
		padding: 3%;
		text-align:left;
	}
	.border-line-right{
		border-right: solid 1px #F1F1F1;
	}
	/* Body LP */
	#body-lp{
		margin:0 !important;
	}
	/* End Of Landing Page*/
	/* Homepage */
	/* Header Homepage */
	#header{
		padding:10px 0 !important;
		margin-bottom: 25px;
	}
	#header h1{
		font-size: 40px !important;

	}
	#header .tab-content p{
		font-size: 16px !important;
	}
	/* Nav Spicy */
	#nav-spicy a.nav-link{
		font-size: 30px !important;
		display: block !important;
	}
	#nav-spicy a.active{
		font-size: 30px  !important;
		display: block !important;
	}
	/* Banner Homepage */
	#banner{
		padding: 5px !important;
	}
	#content-banner{
		width: 300px !important;
		height: 200px !important;
	}
	.title-banner{
		margin:0 !important;
	}
	.btn-red-shadow{
		margin:15px 0 !important;
		padding: 10px 40px !important;
	}
	/* End Of Sub Banner Homepage */
	/* Banner Homepage */
	#content-banner{
		width: 280px !important;
		height: 300px !important;
	}
	/* End Of Sub Banner Homepage */
	/* Testimoni Homepage */
	#testimoni{
		padding:10px 0 !important;
	}
	.title-text{
		font-size: 32px !important;
		font-weight: 600;
	}
	.title-testimonial{
		font-size: 32px !important;
	}
	#content-testimonial{
		margin: none !important;
		padding: none !important;
		min-height: 450px !important;
	}
	/* End Of Sub Testimoni Homepage */
	/* Clients */
	.clients-title{
		font-size: 32px !important;
	}
	/* End Of Clients */
	/* Product Page */
	/* Header Product */
	.header-product-box{
		width: 95% !important;
		bottom: 30px !important;
		right: 0 !important;
	}
	/* End Of Product Page */
}
@media screen and (max-width: 600px) {
	/* Content Category */
	.content-category .card{
		max-height: 440px !important;
		min-height: 440px !important;
		margin: none !important;
	}
	/* Banner Homepage */
	#content-banner{
		width: 280px !important;
		height: 280px !important;
	}
	/* End Of Sub Banner Homepage */
	/* Testimoni Homepage */
	#content-testimonial{
		min-height: 350px !important;
	}
	/* End Of Sub Testimoni Homepage */
	/* Search Result */
	#divider{
		height: 55px !important;
	}
	#search-page{
		padding: 50px 0 !important;
	}
	#search-page .card-title{
		font-size: 22pt !important;
	}
	#search-page p.card-text{
		font-size: 14px !important;
	}
	/* End Of Search Result */
	/* News Page */
	#news-page .card{
		margin-bottom: 20px !important;
	}
	#news-page .card-box {
		min-height: 50px !important;
	}
	/* End News Page */
	/* Form Contact Us */
	#contact-us .form-contact{
		margin-top: 30px !important;
	}
	/* End Of Form Contact Us */
	/* Product Page */
	/* Header Product */
	.header-product-box{
		width: 95% !important;
		bottom: 10px !important;
		right: 10px !important;
	}
	/* End Of Product Page */
}
@media screen and (max-width: 500px) {
	/* Landing Page */
	/* Lp Content*/
	#card-lp{
		font-size: 18px !important;
		padding: 10px !important;
	}
	/* Foooter Landing Page */
	#footer-lp{
		padding: 15px 0 !important;
	}
	#footer-lp .v-divider{
		display: none !important;
	}
	#footer-lp .btn-contact{
		padding-right:3px !important;
	}
	#footer-lp .icon-group{
		padding-left:3px !important;
	}
	#footer-lp a i{
		font-size:18px !important;
	}
	.footer-lp-left{
		width: 100% !important;
		margin-bottom: 10px;
		text-align: center !important;
	}
	.footer-lp-right{
		width: 100% !important;
		text-align: center !important;
	}
	/* End Of Foooter Landing Page */
	.carousel-text{
		padding: 5%;
		text-align:center;
	}
	.border-line-right{
		border-right: solid 0px #F1F1F1;
	}
	/* Content Category */
	.content-category .card{
		max-height: 400px !important;
		min-height: 400px !important;
	}
	/* Banner Homepage */
	#content-banner{
		width: 280px !important;
		height: 320px !important;
	}
	/* End Of Sub Banner Homepage */
	/* Testimoni Homepage */
	#content-testimonial{
		min-height: 400px !important;
	}
	/* End Of Sub Testimoni Homepage */
	/* News Page */
	#news-page .card-img-overlay .card-title{
		font-size: 18px !important;
	}
	#news-page .card-box .card-title{
		font-size: 14px !important;
	}
	/* End News Page */
	/* Header Product */
	#header-product .card .card-title{
		font-size: 29px !important;
	}
	#header-product .card .card-text{
		font-size: 14px !important;
	}
	/* Middle Nav Product */
	#middle-nav-product{
		text-align: center;
		font-size: 16px !important;
	}
	/* FaQ Product */
	#FaQ-product{
		padding:20px 0 !important;
	}
	#FaQ-product .nav-link{
		font-size: 20px !important;
	}
	#FaQ-product .nav-link.active{
		font-size: 22px  !important;
		margin-top:0 !important;
	}
	#FaQ-product strong{
		font-size: 16px;
		font-weight: 700;
	}
	#FaQ-product b{
		font-size: 16px;
		font-weight: 600;
	}
	#FaQ-product p{
		font-size: 14px;
		font-weight: normal;
	}
	/* End Of FaQ Product */
	/* End Of Product Page */
}
@media screen and (max-width: 350px) {
	/* Landing Page */
	/* Lp Content*/
	#card-lp{
		font-size: 18px !important;
		padding: 10px !important;
	}
	.carousel-text{
		padding: 2%;
		text-align:center;
	}
	.border-line-right{
		border-right: solid 0px #F1F1F1;
	}
	/* Content Category */
	.content-category .card{
		max-height: 355px !important;
		min-height: 355px !important;
	}
	/* Banner Homepage */
	#content-banner{
		width: 280px !important;
		height: 250px !important;
	}
	/* End Of Sub Banner Homepage */
	/* Testimoni Homepage */
	#content-testimonial{
		min-height: 490px !important;
	}
	/* End Of Sub Testimoni Homepage */
	/* Product Page */
	/* Middle Nav Product */
	#middle-nav-product{
		font-size: 16px !important;
	}
	#middle-nav-product ul li {
		width: 100% !important;
	}
	#middle-nav-product span{
		display: none !important;
	}
	/* End Of Product Page */
}
/* ------ End Of Respondship ----- */
* {
  box-sizing: border-box;
}
body {
	font-family: 'Poppins';
	background: #1a1818;
}
/* Typography */
h1{
	font-size: 50pt;
	font-weight: 600;
}
h2{
	font-size: 28pt;
	font-weight: 600;
}
h3{
	font-size: 14pt;
	font-weight: 600;
}
.title-text{
	color:#000000;
	font-size: 40px;
	font-weight: 600;
}
ol.decimal{
	display: block;
	list-style-type: decimal;
	margin-left: 0;
	margin-right: 0;
}
/* End Of Typography */
/* Buttons */
.owl-prev, .owl-next{
	font-size: 24px !important;
	width: 50px;
	height: 50px;
	text-align: center !important;
	background:red !important; 
	border:none !important;
	border-radius: 35px !important;
	-webkit-border-radius: 35px !important;
}
.owl-prev{
	position: absolute;
	left: -100px;
	top:40%;
}
.owl-next{
	position: absolute;
	right: -100px;
	top:40%;
}
.owl-prev i{
	padding-right:8px; 
}
.owl-next i{}
.btn-direction{
	margin-top: 50px;
	width: 150px;
	padding: 5px 0;
	font-size: 16px;
	font-weight: 500;
	color: red;
	background:#ffffff;
	border: none;
	border-radius:15px;
	-webkit-border-radius:15px;
}
.btn-direction:hover{
	font-weight: 600;
	color: #ffffff;
	background:red;
}
.btn-submit-contact{
	margin-top: 50px;
	width: 150px;
	padding: 5px 0;
	font-size: 16px;
	font-weight: 500;
	color: red;
	background:#ffffff;
	border: none;
	border-radius:15px;
	-webkit-border-radius:15px;
}
.btn-submit-contact:hover{
	font-weight: 600;
	color: #ffffff;
	background:red;
}
.btn-no-border{
	font-size: 20px;
	font-weight: normal;
	color:#ffffff;
	border: none !important;
}
.btn-no-border:hover{
	font-size: 20px;
	font-weight: 500;
	color:#ffffff;
	text-decoration: none;
}
.btn-cs{
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	border:none;
	background-image: url('../img/gallery/telkomsel/cs-icon.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center; 
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-webkit-box-shadow: 0 2px 10px 1px #5C5C5C;
	box-shadow: 0 2px 10px 1px #5C5C5C;
	z-index: 20;
}
.btn-cs:hover{
	animation: tada 1s ease-in;
}
.more-link{
	font-size: 14px;
	font-weight: normal;
	color:red;
}
.more-link:hover{
	text-decoration: none;
	font-weight: 600;
	color:red;
}
.btn-more{
	font-size: 16px;
	padding: 10px 40px 10px 40px;
	margin:20px 0 10px 0;
	border: none;
	background: #eb0000;
	color:#ffffff;
	-webkit-border-radius: 35px;
	border-radius: 35px;
}
.btn-more:hover{
	font-size: 16px;
	padding: 10px 40px 10px 40px;
	margin:20px 0 10px 0;
	border: solid 1px #eb0000;
	background: #ffffff;
	color:#eb0000;
	-webkit-border-radius: 35px;
	border-radius: 35px;
}
.btn-red-rounded-sm{
	font-size: 16px;
	font-weight: 600;
	padding: 5px 40px 10px 40px;
	margin:20px 0 10px 0;
	border: none;
	background: #eb0000;
	color:#ffffff;
	-webkit-border-radius: 35px;
	border-radius: 35px;
}
.btn-red-rounded-sm:hover{
	font-size: 16px;
	font-weight: 600;
	padding: 5px 40px 8px 40px;
	margin:20px 0 10px 0;
	background: #ffffff;
	color:#eb0000;
	border:solid 1px red;
	-webkit-border-radius: 35px;
	border-radius: 35px;
}
/* End Of Buttons */
/* End Of Typography */
/* Homepage */
/* Top Navigasi Homepage THXS*/
#nav-desktop{
	display: block;
}
#nav-mobile{
	display: none;
}
#nav-desktop #primary-nav i{
	padding: 0 3px;
	font-size: 10px;
	color:red;
	display: none;
}
#nav-desktop #primary-nav a.active i{
	display: inline;
}
#nav-desktop a.active{
	font-weight: 600;
}
#nav-desktop #v-divider{
	width: 1px;
	height: 16px;
	background: #ffffff !important;
	position: absolute;
	top:31px;
}
#nav-desktop .dropdown .dropdown-toggle {
    color:  red;
}
#nav-desktop .dropdown span {
    color:  #ffffff;
}
#dropdown-language .dropdown-menu{
	margin:-15px 0 0 -18px;
	padding: 0;
	background:none; 
	animation: fadeInDown 0.3s ease-in;
}
#dropdown-language .show .dropdown-item {
	width: 70px;
}
#dropdown-language .dropdown-item:hover{
	background:none; 
}
#myTabContent .nav-link i{
	position: absolute;
	right: 25px;
}
#sub-tri-nav label{
	font-size: 16px;
}
#myTabContent #sub-mini-nav{
	font-size: 16px;
	margin-left: 20px;
}
#myTabContent #sub-child-nav{
	font-size: 14px;
	margin-left: 20px;
}
.navbar-dark-transparent{
	padding: 20px 0;
	background: #000000;
}
.navbar-dark-transparent .nav-item a{
	color: #ffffff;
}
#nav-full-width .dropdown-menu{
	margin-top: -2px;
	padding: 50px 0;
	height: 1000px;
}
#nav-full-width a.nav-link:hover{
	font-weight: 500;
}
#full-sub-nav .primary-top-nav span{
	font-weight: 500;
	color:#000000;
}
#full-sub-nav .primary-top-nav:hover span{
	font-weight: 600;
}
#v-pills-tab .active span{
	font-weight: 600;
}
#v-pills-tabContent .nav-link:hover{
	border-bottom: solid 1px #da0000;
	animation: fadeIn 0.3s ease-in;
}
#full-sub-nav .sub-top-nav span{
	font-size: 15px;
	font-weight: 500;
	color:red;
}
#full-sub-nav .sub-sec-top-nav span{
	font-size: 14px;
	font-weight: 300;
	color:#000000;
}
.dropdown-menu .nav-pills .nav-link{
	padding: 20px 0;
}
.dropdown-menu .nav-pills .nav-link span{
	font-size: 16px;
	font-weight: 500;
	color:#000000;
}
.dropdown-menu .nav-pills .nav-link.active span{
	color:#da0000;
}
.dropdown-menu .nav-pills .nav-link.active{
	border-right: solid 1px #da0000;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: none;
	z-index: 10;
}
.dropdown-menu .v-divider{
	position: absolute;
	top:0;
	right: 15px;
	width: 0.5px;
	background: #d1d1d1;
	height: 100%;
	z-index: 0;
}
.dropdown-menu .h-divider{
	position: absolute;
	top: 80px;
	left: 15px;
	width: 450px;
	background: #d1d1d1;
	height: 0.5px;
	z-index: 0;
}
.dropdown-menu .sub-nav-pills .nav-pills .nav-link{
	padding: 10px 0;
}
.dropdown-menu .sub-nav-pills .nav-pills .nav-link.active{
	border:none;
}
.dropdown-menu .sub-nav-pills .nav-pills .nav-link span{
	color:#000000;
}
/* Search Desktop */
#search-nav-full{
	width: 100%;
	padding:10px 0;
	background: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#search-nav-full form{
	padding: 10px 1px;
}
#search-nav-full .input-group-text{
	border:none;
	background: none;
}
#search-nav-full i{
	font-size: 25px;
	color:#e50019;
}
#search-nav-full input:hover,#search-nav-full input:focus{
	box-shadow: none;
}
/* Sugestion Search */
.autocomplete-items {
  position: absolute;
  border:none !important;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}
/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/* Search Mobile */
.search-keywords{
	margin-top: 60px; 
}
.search-keywords label{
	width: 100%;
	margin-bottom:25px; 
	max-width: 100%;
	color:#da0000;
	font-weight: 500;
}
.search-keywords p{
	margin-bottom:20px; 
}
#search-nav .input-group-text{
	border:none;
	background: none;
}
#search-nav .form-control:hover{
	box-shadow: none;
}
#sub-nav-tab .input-group-text{
	border:none;
	background: none;
}
#sub-nav-tab .form-control:hover,#sub-nav-tab input:focus{
	box-shadow: none;
}
#sub-nav-tab .input-group-prepend i{
	font-size: 18px;
	color:#e50019;
}
#sub-nav-tab input{
	border:none;
	background: none;
}
/* Header Homepage */
#header{
	font-size: 16px;
	padding:100px 0 70px 0;
	background-size: cover;
	background-position: top left;
	color: #ffffff;
}
#header-text{
	padding-top: 70px;
}
#header .tab-content h1,#header .tab-content p{
	text-align: left;
}
#header .tab-content h1{
	margin-top: 10px;
}
#header .tab-content p{
	font-size: 17px;
	font-weight: normal;
}
#MyHeader{
	animation: fadeInLeft 1s ease-in;
}
#MyHeader .active{
	animation: fadeInLeft 1s ease-in;
}
/* End Of Header Homepage */
/* Nav Spicy */
#nav-spicy{
	padding: 30px 0;
	background: #ffffff;
}
#nav-spicy a.nav-link{
	margin:0 10px; 
	animation: fadeInDown 1s ease-out;
	font-size: 25pt;
	font-weight: 600;
	color: #000000;
}
#nav-spicy a.active{
	margin-top: -20px;
	font-size: 30pt;
	font-weight: 600;
	color: #da0000;
	border-bottom: solid 3px #da0000;
}
#nav-spicy a:hover{
	margin-top: -20px;
	font-size: 30pt;
	font-weight: 600;
	color: #da0000;
	border-bottom: solid 3px #da0000;
}
/* End Of Nav Spicy */
/* Multi Slider Spicy */
#slider-spicy{
	padding:20px 0;
	background: #ffffff;
}
#myHeroSlider{
	animation: fadeInUp 2s ease-in;
}
.owl-carousel{
	animation: fadeIn 2s ease-in;
}
#slider-spicy img{
	max-width: 100%;
}
#slider-spicy .slide-a img{
	border-bottom:solid 5px #00b4ff;
}
#slider-spicy .slide-b img{
	border-bottom:solid 5px #f36e23;
}
#slider-spicy label{
	color:#ffffff;
	font-size: 19px;
	font-weight: 600;
	position: absolute;
	bottom: 0;
	left: 30px;
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.owl-dots button.active span{
  background: #eb0000 !important;
}
.owl-dots span {
  background: #ffffff !important;
  border: solid 1px #eb0000;
}
/* End Of Owl Slider Spicy */
/* Homepage Content */
#homepage-content{
	min-height: 600px;
	padding: 35px 0;
	background: #f5f5f5;
}
/* End Of Homepage Content */
/* Navigasi Category */
.nav-category {
	animation: fadeInDown 1s ease-in;
	text-decoration: none;
}
.nav-category .line-border{
	width: 100%;
	height:1px;
	background: #e51f1f;
}
.nav-category ul li{
	margin:0;
	padding:0;
	text-align: left;
}
.nav-category a{
	text-align: center;
	padding: 0;
	margin: 0;
	color:#000000;
}
.nav-category label{
	font-size: 12px;
	width: 100%;
	max-width: 100%;
}
.nav-category .btn-icon{
	width: 55px;
	height: 35px;
	font-size: 20px;
	border: none;
	background: none;
}
.nav-category .active .btn-icon{
	width: 55px;
	height: 35px;
	border: none;
}
.nav-category .active{
	border:solid 1px #ec0505;
	font-weight: 600;
	margin-bottom: -1px;
	background: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 25px 25px 0 0!important;
}
.nav-category .nav-link{
	width: 152px;
	padding-top: 5px;
}
.nav-category .nav-link img{
	filter: grayscale(100%);
	filter: brightness(0%);
	-webkit-filter: brightness(0%);
	-moz-filter: brightness(0%);
}
.nav-cat-red .active, .nav-cat-red.nav-item:hover label{
	color: #ec0505;
}
.nav-cat-orange .active, .nav-cat-orange.nav-item:hover label{
	color: #f1683c;
}
.nav-cat-blue-sky .active, .nav-cat-blue-sky.nav-item:hover label{
	color: #4ec4d0;
}
.nav-cat-violet .active, .nav-cat-violet.nav-item:hover label{
	color: #40438a;
}
.nav-cat-green .active, .nav-cat-green.nav-item:hover label{
	color: #007a6f;
}
.nav-cat-silver .active, .nav-cat-silver.nav-item:hover label{
	color: #7c7c7c;
}
.nav-cat-blue .active, .nav-cat-blue.nav-item:hover label{
	color: #00b4ff;
}
.nav-cat-red .active img,.nav-cat-red.nav-item:hover img{
	filter: grayscale(0);
}
.nav-cat-orange .active img,.nav-cat-orange.nav-item:hover img{
	filter: grayscale(0);
}
.nav-cat-blue-sky .active img,.nav-cat-blue-sky.nav-item:hover img{
	filter: grayscale(0);
}
.nav-cat-violet .active img,.nav-cat-violet.nav-item:hover img{
	filter: grayscale(0);
}
.nav-cat-green .active img,.nav-cat-green.nav-item:hover img{
	filter: grayscale(0);
}
.nav-cat-silver .active img,.nav-cat-silver.nav-item:hover img{
	filter: grayscale(0);
}
.nav-cat-blue .active img,.nav-cat-blue.nav-item:hover img{
	filter: grayscale(0);
}
.nav-category .nav-item:hover a, .nav-category .nav-item:hover button{
	font-weight: 600;
}
/* End Of Navigasi Category */
/* Sub Content Category */
.content-category{
	margin: 35px 0;
}
.content-category .card{
	max-height: 450px;
	min-height: 450px;
	margin: 10px 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 3px #d4d4d4;
	animation: fadeIn 1s ease-in;
}
.card-group .card-hide{
	background: none;
	border:none;
}
.card-group .card-hide:hover{
	border: none !important;
}
.card-red .card:hover{
	border-bottom: solid 3px #ec0505;
}
.card-orange .card:hover{
	border-bottom: solid 3px #f1683c;
}
.card-blue-sky .card:hover{
	border-bottom: solid 3px #4ec4d0;
}
.card-violet .card:hover{
	border-bottom: solid 3px #40438a;
}
.card-green .card:hover{
	border-bottom: solid 3px #007a6f;
}
.card-silver .card:hover{
	border-bottom: solid 3px #7c7c7c;
}
.card-blue .card:hover{
	border-bottom: solid 3px #00b4ff;
}
.content-category .card-title{
	font-size: 15pt;
	color: #000000;
	font-weight: normal;
	padding-bottom: 10px;
}
.content-category .card-text{
	font-size: 10pt;
	color: #646464;
	margin-bottom: 40px;
}
.content-category a.card-text-more{
	font-size: 10pt;
	font-weight: normal;
	color: #ea0404;
	text-decoration: none;
	position: absolute;
	bottom: 20px;
}
.content-category a.card-text-more:hover{
	font-size: 10pt;
	font-weight: 500;
	color: #ea0404;
	position: absolute;
	bottom: 20px;
}
.MoreContent{
	display: none;
}
/* End Of Sub Content Category */
/*Load Box */
#loadbox{
	width: 100%;
	height: 700px;
	background: #F5F5F5;
	display: none;
}
/* End Load Box */
/* Banner Homepage */
#banner{
	width: 100%;
	text-align: center;
	padding: 100px 0;
	background-image: url("../img/gallery/telkomsel/solusi-enterprise.png");
	background-size: cover;
	background-position: center center;
}
#banner .card{
	background: none;
	border: none;
}
.title-banner{
	font-size: 36pt;
	font-weight: 600;
	line-height: 3rem;
	margin:15px 0;
	color:#ffffff;
}
.btn-red-shadow{
	font-size: 16px;
	font-weight: 600;
	color:#ffffff;
	margin:20px 0;
	padding: 10px 65px;
	background: #ce0000;
	border:none;
	-webkit-border-radius: 35px;
	border-radius: 35px;
}
.btn-red-shadow:hover{
	font-size: 16px;
	font-weight: 600;
	color:#000000;
	margin:20px 0;
	padding: 10px 65px;
	background: #ffffff;
	border:solid 1px #ce0000;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* End Of Sub Banner Homepage */
/* Testimoni Homepage */
#testimoni{
	padding:20px 0;
	background: #ffeeeb;
}
#content-testimonial{
	text-align: left;
	max-width: 100%;
	min-height: 370px;
	padding:15px 0;
}
.title-testimonial{
	font-size: 30pt;
	font-weight: 600;
	color:#000000;
}
#content-testimonial p{
	font-size: 12pt;
	font-weight: 300;
}
.tag-testimonial{
	position: absolute;
	bottom: 0;
	left: 15px;
}
.tag-testimonial p{
	font-size: 15pt;
	font-weight: normal;
	color:#000000;
}
.tag-testimonial h4{
	font-size: 15pt;
	font-weight: 600;
}
/* End Of Sub Testimoni Homepage */
/* Clients Homepage */
#clients{
	border-top: solid 1px #797979;
	padding: 20px 0 40px 0;
	background: #ffffff;
}
#clients .card{
	border:none;
}
#clients img{
	width: 150px;
	margin:0 auto;
}
.clients-title{
	font-size: 30pt;
	font-weight: 600;
	color:#000000;
}
/* End Of Clients Homepage */
/* Product Page */
/* header Product */
#header-product{
	color:#ffffff;
	background-size: cover;
	background-position: bottom center;
}
#header-product .card-img-overlay{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
#header-product .card{
	border: none;
	background: none;
}
#header-product .card .card-title{
	font-size: 50px;
	font-weight: 500;
}
#header-product .card .card-text{
	font-size: 16px;
	font-weight: normal;
}
.header-product-box{
	width: 50%;
	position: absolute;
	bottom: 20%;
	right: 10%;
}
/* End Of header Product */
/* Middle Nav Product */
#middle-nav-product{
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
}
#middle-nav-product.red-hero{
	background: #ec0505;
}
#middle-nav-product.orange-hero{
	background: #f1683c;
}
#middle-nav-product.blue-sky-hero{
	background: #4ec4d0;
}
#middle-nav-product.violet-hero{
	background: #40438a;
}
#middle-nav-product.green-hero{
	background: #007a6f;
}
#middle-nav-product.silver-hero{
	background: #7c7c7c;
}
#middle-nav-product .nav-link{
	border:none; 
}
#middle-nav-product .active{
	border:none !important;
}
#middle-nav-product a{
	color: #ffffff;
}
#middle-nav-product a.active, #middle-nav-product a:hover{
	font-weight: 600;
}
#middle-nav-product span{
	display: block;
	margin-top: 8px;
}
/* End Of Nav Product */
/* Featured Product */
#featured-product{
	padding:20px 0 50px 0px;
	background: #ffffff;
}
#featured-product .card{
	background: none;
	border:none;
}
#featured-product .card img{
	width: 150px;
}
#featured-product .card-title{
	font-size: 16px;
	font-weight: 500;
	color:#000000;
}
#featured-product .card-text{
	font-size: 14px;
	font-weight: normal;
	color:#4b4b4b;
}
/* End Of Featured Product */
/* Banner Video */
#banner-video{
	padding:100px 0;
	background: #f7f7f7;
}
#banner-video .card{
	margin-top:30%;
	background: none;
	border:none;
}
#banner-video .card-title{
	font-size: 30px;
	font-weight: 600;
}
#banner-video .card-text{
	font-size: 16px;
	font-weight: normal;
	color:#000000;
}
/* End OF Banner Video */
/* Slider Card */
#slider-card{
	padding:100px 0;
	background: #f7f7f7;
}
#slider-card .main-content{
	margin:0 100px;
}
#slider-card .card{
	background: none;
	border:none;
}
#slider-card .card-title{
	font-size: 30px;
	font-weight: 600;
}
#slider-card .card-text{
	font-size: 16px;
	font-weight: normal;
	color:#000000;
}
#slider-card .card{
	margin-top:25%;
	background: none;
	border:none;
}
#slider-card .owl-dots{
	margin-top: 20px;
}
/* End Of Slider Card */
/* Recomend Product */
#recomend-product{
	padding:0 0 30px 0;
	background: #f7f7f7;
}
#recomend-product .title-text{
	margin: 10px 0;
	font-size: 32px;
	font-weight: 600;
}
#recomend-product .card{
	border: none;
}
#recomend-product .card-title{
	color: #000000;
	font-size: 15pt;
	font-weight: 500;
}
#recomend-product .card-text{
	color:##646464;
	font-size: 10pt;
	font-weight: normal;
}
#recomend-product .more-link i{
	position: absolute;
	bottom: 18px;
}
/* End Of Recomend Product */
/* Banner Product */
#banner-product{
	width: 100%; 
	text-align: center;
	padding: 20px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%), url("../img/gallery/slider/full/1.jpg");
	background-size: cover;
	background-position: center center;
}
#banner-product .card{
	background: none;
	border: none;
}
/* End Of Banner Product */
/* FaQ Product */
#FaQ-product{
	padding:30px 0;
	background: #ffffff;
	min-height: 500px;
}
#FaQ-product .nav-tabs{
	border: none;
}
#FaQ-product .nav-link{
	font-size: 30px;
	font-weight: 500;
	color: #000000;
	border: none;
}
#FaQ-product .nav-link.active{
	font-size: 40px;
	font-weight: 600;
	color: red;
	border: none;
	margin-top:-10px;
}
#FaQ-product a.nav-link.active{
	border-bottom: none !important;
}
#myTabFaQ{
	padding: 30px 0;
}
#myTabFaQ .card{
	border: none;
}
#myTabFaQ .card .card-title{
	font-size: 16px;
	font-weight: 500;
}
#FaQ-product strong{
	font-size: 16px;
	font-weight: 500;
}
#FaQ-product b{
	font-size: 16px;
	font-weight: 500;
}
#FaQ-product p{
	font-size: 13px;
	font-weight: 400;
}
#FaQ-product li{
	font-size: 13px;
	font-weight: 400;
}
#FaQ-product th, #FaQ-product td{
	font-size: 14px;
	font-weight: normal;
}
/* End Of FaQ Product */
/* End Of Product Page*/
/* Landing Page */
/* Navigasi Landing Page */
/* Nav Desktop LP */
.nav-transparent{
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.nav-transparent #v-divider{
	width: 1px;
	height: 20px;
	background: #ffffff;
	position: absolute;
	top: 25px;
}
.nav-transparent a.nav-link{
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
}
.nav-transparent #primary-nav i{
	padding: 0 3px;
	font-size: 10px;
	color:red;
	display: none;
}
.nav-transparent #primary-nav a.active i{
	display: inline;
}
.nav-transparent .nav-item a.active{
	font-size: 16px;
	font-weight: 500;
	border: none;
}
.nav-transparent .dropdown .dropdown-toggle{
	color:red;
}
.nav-transparent #dropdown-language span{
	font-size: 16px;
	font-weight: 300;
	color:#ffffff;
}
.nav-transparent a.active, .nav-transparent a:hover{
	color: #ffffff;
}
.navbar-mobile{
	display: none;
}
span.navbar-mobile{
	display: none;
}
/* Nav Mobile LP */
.navbar-mobile #dropdown-language .dropdown-menu{
	padding:30px 0 0 166px;
	background:none; 
	animation: fadeIn 0.3s ease-in;
}
/* End Of Navigasi Landing Page*/
/* header landing page */
#header-lp{
	margin:10px;
}
#header-lp .card{
	background: none;
}
#header-lp .card-box{
	padding-top: 10%;
}
#header-lp .card-text{
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
}
/* End Of header landing page */
/* Content Landing Page */
#body-lp{
	color:#ffffff;
}
#body-lp .card{
	background: none;
	border: none;
	padding: none;
	margin:none;
}
#card-lp{
	font-size: 18px;
	padding: 70px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#body-lp img.card-img{
	border-radius: 0;
	-webkit-border-radius:0;
}
#body-lp .card-title{
	font-size: 40pt;
	font-weight: 600;
}
/* End Of Content Landing Page */
/* Foooter Landing Page */
#footer-lp{
	padding: 50px 0;
	font-size: 15px;
	background: #9b0008;
	color: #ffffff;
	border-bottom: solid 1px #707070;
}
#footer-lp .v-divider{
	font-size: 18px;
	position: absolute;
	top: 5px;
}
#footer-lp .btn-contact{
	padding-right:30px;
}
#footer-lp .icon-group{
	padding-left:30px;
}
#footer-lp a{
	font-size:16px;
	color: #ffffff;
}
#footer-lp a i{
	font-size:20px;
	color: #ffffff;
}
#footer-lp .copyright{
	margin:20px 0 0 0;
	font-size: 13px;
}
.logo-footer{
	width: 175px;
	margin: 0;
	padding: 0;
}
.footer-lp-left{
	text-align: left;
}
.footer-lp-right{
	padding: 10px;
	text-align: right;
}
/* End Of Foooter Landing Page */
.no-border {
    border: 0;
    box-shadow: none;
}
/* Carousel Slider */
.icon-control-prev{
	width: 40px;
	height: 40px;
	background: black;
	border-radius: 50%;
}
.icon-control-next{
	width: 40px;
	height: 40px;
	background: black;
	border-radius: 50%;
}
.icon-control-prev img{
	width: 25px;
	padding:0 6px 0 0; 
}
.icon-control-next img{
	width: 25px;
	padding:0 0 0 6px; 
}
/*the container must be positioned relative:*/
/* End Of Landing Page */
/* Search Result */
#divider{
	width: 100%;
	height: 75px;
	background: #1a1818;
}
#search-page{
	min-height: 1000px;
	padding: 100px 0;
	background: #ffffff;
}
#search-page .card{
	border:none;
}
#search-page .card-body{
	padding: 10px 0;
	border-bottom: solid 3px #949494;
}
#search-page .card-title{
	font-size: 25pt;
	font-weight: 600;
	color:#000000;
}
#search-page p.card-text{
	font-size: 16px;
	font-weight: normal;
	color:#595f6f;
}
#search-page .more-link i{
	position: absolute;
	bottom: 12px;
}
/* End Of Search Result */
/* News Page*/
#news-page{
	padding: 50px 0;
	min-height: 1200px;
	background: #ffffff;
}
#news-page .card{
	margin-bottom: 30px;
	border:none;
}
#news-page .card-img-overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 41%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#news-page .card-img-overlay:hover{
	animation: fadeIn 0.2s ease-in;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#news-page .card-img-overlay .card-title{
	font-size: 27px;
	font-weight: normal;
}
#news-page .card-img-overlay .more-link{
	color:#ffffff;
}
#news-page .card-box {
	padding: 10px 0;
	min-height: 100px;
}
#news-page .card-box .card-title{
	font-size: 18px;
	font-weight: normal;
}
#news-page .card-title a{
	padding-top:10px; 
	display: block !important;
}
#news-page .card-title i{
	display: inline;
	padding-bottom:30px;
}
#news-page .more-link i{
	position: absolute;
	bottom: 0;
}
/* End Of News Page */
/* Detail News Page */
#detail-news-page{
	padding: 50px 0;
	min-height: 1200px;
	background: #ffffff;
}
#detail-news-page .card{
	border: none;
}
#detail-news-page .title-news-detail{
	font-size: 25pt;
	font-weight: 600;
	padding: 10px 0;
	display: block;
}
#detail-news-page .date-news-detail{
	font-size: 15pt;
	font-weight: 500;
	display: block;
}
#detail-news-page img{
	margin:30px 0;
}
#detail-news-page p{
	font-family: 'Poppins', Times, serif;
	font-size: 15px;
	font-weight: normal;
}
#detail-news-page b{
	font-weight: 600;
}
/* End of Detail News Page */
/* Contact Us Form */
#contact-us{
	width: 100%;
	position: fixed;
	top:0;
	min-height: 2000px;
	padding:20px;
	z-index: 1100;
	background: rgb(255,26,0); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,26,0,1) 0%, rgba(203,1,12,1) 58%, rgba(203,1,12,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,26,0,1) 0%,rgba(203,1,12,1) 58%,rgba(203,1,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,26,0,1) 0%,rgba(203,1,12,1) 58%,rgba(203,1,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#cb010c',GradientType=1 ); /* IE6-9 */
}
#contact-us .card{
	background: none;
	border: none;
}
#contact-us form{
	text-align: right;
}
#contact-us .nav-number{
	margin-top: 120%;
}
#contact-us .form-contact{
	margin-top: 100px;
	font-size: 22px;
	font-weight: normal;
	color:#ffffff;
}
#contact-us .input-group-text{
	font-size: 22px;
	color: #ffffff;
	border:none;
	background: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 20px;
  	color: #f28086;
  	font-weight: 300;
  	opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 20px;
  	color: #f28086;
  	font-weight: 300;
  	color: #a3a1a1;
}
::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 20px;
  	color: #f28086;
  	font-weight: 300;
  	color: #a3a1a1;
}
#contact-us input:focus {
    outline: none;
}
#contact-us input[type=text],#contact-us input[type=email]{
	font-size: 22px;
	color: #ffffff;
	border-bottom: solid 1px #ffffff;
	border-style: dashed;
}
#contact-us i{
	display: block;
	font-size: 20px;
	color: #ffffff;
}
#contact-us span{
	padding-left: 2px;
	font-size: 20px;
	color: #ffffff;
}
#form-finnish h5{
	margin-top: 10%;
	color: #ffffff;
	font-size: 50px;
	font-size: 600;
}
/* End Of Contact Us Form */
/* Format Page */
.container-fluid{
	padding: 0 50px !important;
}
#center{
	width: 100%;
	float:left;
	margin:0 auto;
	text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-center{
	position: absolute !important;
	bottom: 0px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.hide{
	display: none;
}
.hide-item{
	display: none;
}
.show-item{
	display:block;
}
.fa{
	margin-left: 10px;
}
.v-divider{
	position: absolute;
	top: 21px;
}
.fade{
	display: none;
}
.show{
	display: block !important;
}
/* End Of Format Page */
/* Custom Card Columns */
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
/* End Of Custom Card Columns */
/* owl Carousel */
.main-content {
    position: relative;
    .owl-theme {
        .custom-nav {
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;

            .owl-prev, .owl-next {
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;

                i {
                    font-size: 2.5rem;
                    color: #cecece;
                }
            }

            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }
    }
}
/* End Of owl Carousel */